In [3]:
a=20000237464484848585858586868686878787877878787878685474737475754733457575575
import sys
sys.getsizeof(a)

60

In [4]:
False + True

1

In [5]:
True +True

2

In [6]:
False +False

0

In [8]:
msg= 'shubham"s python class'

In [9]:
print(msg)

shubham"s python class

In [10]:
y = "let's learn python"
type(y)

str

In [12]:
my_string= """my
        name 
         is 
        shubham"""
print(my_string)

my
        name
         is
        shubham

In [13]:
a= '20'
b= '30'
a+b

'2030'

In [14]:
x=int(a)
y=int(b)
x+y

50

In [15]:
type (a)

str

In [16]:
type(x)

int

In [19]:
a= int(input('first number'))
b= int(input('second number'))
c=a-b
print(c)

first number 3443333
second number 455544

2987789

In [1]:
a='shubham mangesh telavane '
a[4]

'h'

In [2]:
a[-1]

'm'

In [3]:
a='shubham mangesh telavane'
len(a)

24

In [4]:
a= 'shubham'
a[2:5]

'ubh'

In [5]:
a[-4:-2]

'bh'

In [6]:
word= "shubham"
len(word)

7

In [7]:
word[0:7:2]

'suhm'

In [8]:
word[0:7]

'shubham'

In [9]:
word[7:0]

''

In [10]:
word[0:5]

'shubh'

In [11]:
a= "we are here for learning data science"
len(a)

37

In [12]:
a[37:4]

''

In [13]:
a[0:14]

'we are here fo'

In [17]:
a[-16::-1]

'inrael rof ereh era ew'

In [20]:
a[-1:-22:-1]

'ecneics atad gninrael'

In [22]:
a[37:15:-1]

'ecneics atad gninrael'

In [26]:
a= "s"
ord("s")

115

In [27]:
ord("s")

115

In [29]:
print(7>6>5)

True

In [31]:
a= str(input('name '))
b= int(input('age '))
c=a+b 
print(c)

name  shubham
age  25

TypeError: can only concatenate str (not "int") to str

In [32]:
a= str(input('name '))
b= int(input(
    age ))
c=a+b 
print(c)

name  shubham
age 25

TypeError: can only concatenate str (not "int") to str

In [33]:
a= str(input('name '))
b= int(input(
    age ))
c=a+b 
print(c)

name  shubham

NameError: name 'age' is not defined

In [34]:
a= str(input('name '))
b= int(input(age ))
c=a+b 
print(c)

name  shubham

NameError: name 'age' is not defined

In [36]:
a= str(input("name "))
b= int(input("age" ))
c=  2022-b+100 
print( "name is",a, "year" ,c )

name  shubham
age 27

name is shubham  year 2095

In [40]:
a= str(input("first name "))
b= str(input("last name "))
c= str ("first name")+  str("last name") 
print(c)

first name  shubham
last name  telavane

first namelast name

In [41]:
a = str(input("first name ")b
    c= "first name " + "last name "
print (c)

SyntaxError: invalid syntax (3083331328.py, line 1)

In [43]:
a= str (input("first name")
b= str (input ("last name ")
c= a+b 
print(a+b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2574168186.py, line 1)

In [47]:
a= str (input("first name"))
b= str (input ("last name "))
c = { "last name", b=[-1::-1}, "first name", a=[-1::-1] }
print(c)

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (67999671.py, line 3)

In [49]:
a=input("first name ")
b=input ("last name")
c = print( b [::-1]+ " "+a[::-1])

first name  shubham
last name telavane

 enavalet  mahbuhs

In [52]:
a=input("first name ")
b=input ("last name")
c = print( b [:-1]+ " "+a[:-1])

first name  shubham
last name telavane

telavane shubham

In [1]:
a=100
print(a)

100

In [4]:
print("value of is {}", . format(a))

SyntaxError: invalid syntax (885952103.py, line 1)

In [5]:
name= "shubham"
age = 26
print("name is {} age is {}" .format (name,age)

SyntaxError: incomplete input (3175422944.py, line 3)