In [3]:
#
x=[1,2,3,4,5,'a']
   
type (x)

list

In [4]:
for y in x:
    print (y)

1
2
3
4
5
a

IndentationError: unexpected indent (257032031.py, line 2)

In [11]:
fruits= ['apple', 'banana','warermelon']
for i in fruits:
    print (i)

apple
banana
warermelon

In [17]:
my_list = [12,23,34,56]
low_bound=10
upp_bound=60
for i in my_list:
    if i>=10 or i<=60:
        print ('all statments are true ')
        break
else: 
        print('all statment no true ')

all statments are true

In [27]:
my_list = [1, 2, 3, 4, 5]
search_value = 0
for i in my_list:
    if i == search_value:
        print("Value found!")
        break 
        
else:
        print ('value not found')

value not found

In [34]:
for i in range (1,20,4):
     print(i)

1
5
9
13
17

In [38]:
for i in range (2,30,2*4):
    print(i)

2
10
18
26

In [41]:
x=range(-29)
list (x)

[]

In [44]:
total = 0
for i in range(1, 10):
    if i % 2 != 0:
        total += i
print(total)

25

In [48]:
num=int(input('type number'))
total =0 
for i in range (1,num+1):
    total= total +i 
print('sum of total number 1 to {} is {} '.format(num,total) )

type number 45

sum of total number 1 to 45 is 1035

In [63]:
for i in range (1,10):
    print(i)
    if i%5==0:
          break 
else:
     print('Not found ')

1
2
3
4
5

In [74]:
numbers=['*','*','*','*']
alpha=['*','*','*','*']
for f in numbers:
    print(f)
for ch in alpha:
    print(ch)

*
*
*
*
*
*
*
*

In [15]:
for i in  range  (3):
        for j in range(3):
             print('*',end=' ')
        print()

* * *
* * *
* * *

In [23]:
for i in range(7):
    for j in range(i+1):
        j+=1
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [5]:
d=1
while d!=45:
    d=int(input('enter number'))
    for i in range (d,d+1):
        print(d)
 #it can use in password method !

enter number 34

34

enter number 56

56

enter number 45

45